<section class="main-page page-padding section-spacing">
  <h1 class="main-page__title">{{ page.title }}</h1>
  <div class="main-page__content rte">
    {{ page.content }}
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
